<div id="signupbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="panel panel-info" >
		<div class="panel-heading">
			<div class="panel-title">Sign Up</div>
		</div>

		<div style="padding-top:30px" class="panel-body" >
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal", role: "form"}) do |f| %>
				<div class="form-group">
					<label for="user_email" class="col-md-3 control-label">Email</label>
					<div class="col-md-9">
						<%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email Address", required: true %>
					</div>
				</div>

				<div class="form-group">
					<label for="user_first_name" class="col-md-3 control-label">First Name</label>
					<div class="col-md-9">
						<%= f.text_field :first_name, class: "form-control", placeholder: "First Name", required: true %>
					</div>
				</div>

				<div class="form-group">
					<label for="user_last_name" class="col-md-3 control-label">Last Name</label>
					<div class="col-md-9">
						<%= f.text_field :last_name, class: "form-control", placeholder: "Last Name", required: true %>
					</div>
				</div>

				<div class="form-group">
					<label for="user_password" class="col-md-3 control-label">Password</label>
					<div class="col-md-9">
						<%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password", required: true %>
					</div>
				</div>

				<div class="form-group">
					<label for="user_password_confirmation" class="col-md-3 control-label">Confirm Password</label>
					<div class="col-md-9">
						<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm Password", required: true %>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-offset-3 col-md-9">
						<%= f.submit "Sign up", class: "btn btn-info" %>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12 control">
						<div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
							Already have an account! 
							<%= link_to "Log In here", new_session_path(resource_name) %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
