<div id="forgotpasswordbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="panel panel-info" >
		<div class="panel-heading">
			<div class="panel-title">Forgot your password?</div>
		</div>

		<div style="padding-top:30px" class="panel-body" >
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, class: "form-horizontal", role: "form"}) do |f| %>
				<div class="form-group">
					<label for="user_email" class="col-md-3 control-label">Email</label>
					<div class="col-md-9">
						<%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email Address", required: true %>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-offset-3 col-md-9">
						<%= f.submit "Send me reset password instructions", class: "btn btn-info" %>
					</div>
				</div>

			<% end %>
		</div>
	</div>
</div>

