<div class="navbar navbar-default navbar-static-top">
	<div class="container">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<%= link_to "Kristy's Car Dealership", root_path, class: "navbar-brand" %>
		<div class="navbar-collapse collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav pull-right">
				<% if current_user %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Hi <%= current_user.first_name %> <%= current_user.last_name %>
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to content_tag(:i, " Logout",class: 'icon-off'), destroy_user_session_path %></li>
						</ul>
					</li>
				<% else %>
					<li class="divider-vertical"></li>
					<li><%= link_to "Signup", new_user_registration_path %></li>
					<li class="divider-vertical"></li>
					<li><%= link_to "Login", new_user_session_path %></li>
					<li class="divider-vertical"></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>