<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= content_for?(:title) ? yield(:title) : "Kristy's Car Dealership" %></title>
		<%= csrf_meta_tags %>

		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>

		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
	</head>

	<body>
		<%= render 'shared/navigation' %>

		<div class="container">
			<div class="alert-container">
				<% flash.each do |type, message| %>
					<%= content_tag :div, class: flash_class(type), role: "alert" do %>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<%= message %>
					<% end %>
				<% end %>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<%= yield %>
				</div>
			</div><!--/row-->
		</div> <!-- /container -->

	</body>
</html>
